/*Temp to see layout only*/
div{
  outline: solid 3px red;
}

header{
  outline: solid 3px red;
}

footer{
  outline: solid 3px red;
}

/*main*/
html{
  font-size: 18px;
}

/*header*/

header{
  height: 1.5rem;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  background-color: black;
}

/*main content*/
.maincontent{
  top: 1.5rem;
  width: 100%;
  display: flex;
  position: relative;
}

/*banner*/

.banner{
  height: 25rem;
  width: 100%;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

/*navbar*/

.navbar{
  /*temp for layout*/
  height: 2rem;
  width: 100%;
  /*end temp*/
  background-color: firebrick;
}

/*products section */

.products{

    /*temp for layout*/
    height: 28rem;
    /*end temp*/
}

/*footer section */
footer{
  height: 5rem;
  background-color: black;
}
