/*Temp to see layout only*/
div{
  outline: solid 3px red;
}

footer{
  outline: solid 3px red;
}

/*main*/
html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*header*/

.mainheader{
  display: flex;
  top: 0;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.mainheader .container{
  display: flex;
  width: 960px;
  padding: 12px 0 12px 0.5em;
  margin: 0;
  align-items: center;
}

.mainheader img{
  height: 1.5rem;
  padding-right: 15px;
  display: inline-block;
}

/*banner*/

.banner{
  height: 25rem;
  width: 100%;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  z-index: 1;
  align-items: center;

}

.banner .container{
  width: 960px;
  display: flex;
}

.newarrival{
  background-color: black;
  z-index: 2;
  display: flex;
  align-items: center;
  display: block;
  width: 20rem;
}

.newarrival h2, .newarrival h3{
  font-weight: bold;
}

.newarrival h3{
  font-size: 1rem;
  margin: 2rem 0 0 3rem;
}

.newarrival h2{
  font-size: 2rem;
  margin: 0 0 2rem 3rem;

}


/*navbar*/

.navbar{
  background-color: firebrick;
  display: flex;
}


.navbar .container{
  width: 960px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar span{
  margin: 0.75rem 0;
}

/*products section */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    /*temp for layout*/
    height: 28rem;
    /*end temp*/
}

.prodexample{
  display: flex;
  margin: 3rem 0rem;
  /*temp for layout*/
  height: 15rem;
  width: 15rem;
  /*end temp*/
}

.prodinfo{
  display: flex;
  width: 35%;
  /*temp for layout*/
  height: 5rem;
  /*end temp*/
}

/*footer section */
footer{
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

footer .container{
  width: 960px;
}
