/*Temp to see layout only*/
div{
  outline: solid 3px red;
}

footer{
  outline: solid 3px red;
}

/*main*/
html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

/*header*/

.mainheader{
  width: 100%;
  display: flex;
  top: 0;
  background-color: black;
}

.mainheader .container{
  display: flex;
  width: 100%;
  padding: 12px 0 12px 0.5em;
  margin: 0;
  align-items: center;
}

.mainheader img{
  height: 1.5rem;
  padding-right: 15px;
  display: inline-block;
}
/*main content*/
.maincontent{
  width: 960px;
  display: flex;
}

/*banner*/

.banner{
  height: 25rem;
  width: 100%;
  display: flex;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
}

/*navbar*/

.navbar{
  /*temp for layout*/
  height: 2rem;
  width: 100%;
  /*end temp*/
  background-color: firebrick;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*products section */

.products{

    /*temp for layout*/
    height: 28rem;
    /*end temp*/
}

/*footer section */
footer{
  height: 5rem;
  background-color: black;
}
